<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer src="../app.js"></script>
</head>

<body>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="container mt-5">
        <h2>Registrar Cliente</h2>
        <div class="col-md-12 p-4 m-auto">
            <form class="card card-body" id="clientForm">
                <div class="form-group">
                    <input type="text" id="nombre" placeholder="Nombre del cliente" class="form-control" required>
                </div>
                <div class="form-group mt-2">
                    <input type="text" id="telefono" placeholder="Teléfono del cliente" class="form-control" required>
                </div>
                <div class="form-group mt-2">
                    <input type="text" id="correo_electronico" placeholder="Correo del cliente" class="form-control" required>
                </div>
                <div class="form-group mt-2">
                    <input type="text" id="nit" placeholder="NIT del cliente" class="form-control" required>
                </div>
                <div class="form-group mt-2">
                    <input type="text" id="direccion" placeholder="Dirección del cliente" class="form-control" required>
                </div>
                <div class="form-group mt-2">
<!--                    <input type="text" id="fecha_registro" placeholder="Fecha de registro" class="form-control" required>-->
                    <input type="date" id="fecha_registro" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Guardar</button>
            </form>
        </div>
        <hr>
        <h2>Lista de Clientes</h2>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>NIT</th>
                <th>Dirección</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody id="clientes">
            <!-- Aquí se mostrarán los clientes -->
            </tbody>
        </table>
    </div>
</div>

<script src="../../scripts/clients.js"></script>
</body>

</html>
