<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer src="../app.js"></script>
</head>

<body>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="container mt-5">
        <h2>Inventario del Negocio</h2>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID Inventario</th>
                <th>Producto</th>
                <th>Fecha de Movimiento</th>
                <th>Tipo de Movimiento</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody id="clientes">
            <!-- Aquí se mostrarán los clientes -->
            </tbody>
        </table>
    </div>
</div>

<script src="../../scripts/clientes.js"></script>
</body>

</html>
