<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script defer src="../app.js"></script>
</head>

<body>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Productos</h1>
  </div>
  <div class="row">
    <div class="col-md-12 p-4 m-auto">
      <form id="productForm">
        <div class="form-group">
          <label for="nombre">Nombre del Producto</label>
          <input type="text" id="nombre" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea style="resize: none" id="descripcion" class="form-control" rows="2"></textarea>
        </div>
        <div class="form-group">
          <label for="precio">Precio</label>
          <input type="number" id="precio" class="form-control number" step="0.01" required>
        </div>
        <div class="form-group">
          <label for="stock_actual">Stock Actual</label>
          <input type="number" id="stock_actual" class="form-control number" required>
        </div>
        <div class="form-group">
          <label for="stock_minimo">Stock Mínimo</label>
          <input type="number" id="stock_minimo" class="form-control number" required>
        </div>
        <div class="form-group">
          <label for="categoria">Categoría</label>
          <input type="text" id="categoria" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="fecha_registro">Fecha de Registro</label>
          <input type="date" id="fecha_registro" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Guardar Producto</button>
      </form>
    </div>
<!--    <div>-->
<!--      <div id="products"></div>-->
<!--    </div>-->

    <div class="col-md-12 p-4 m-auto">
      <table class="table table-bordered table-hover" id="productsTable">
        <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock Actual</th>
          <th scope="col">Stock Minimo</th>
          <th scope="col">Categoría</th>
          <th scope="col">Fecha de Registro</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody id="productsBody">
        <!-- Aquí se llenarán los productos dinámicamente -->
        </tbody>
      </table>
    </div>
  </div>

  <script src="../../scripts/productos.js"></script>
</body>

</html>